.message-width-container{
  width: 100%;
  max-width: min(95vw, 800px);
}
.a-message-width{
  width: 100%;
  max-width: 350px;
}
.clerk-input-msg{
  width: 100%;
  max-width: min(95vw, 500px);
  min-height: 1.5rem;
  max-height: 20rem;
  overflow-y: auto;
  border: none;
  word-break: break-word;
  resize: none;
}
